<h2 align="center">Invoices</h2>
<table class="table table-bordered">
  <th>InvoiceID</th>
  <th>InvoiceNumber </th>
  <th>Payments</th>
  <th>Suppliers</th>
  <th>Date</th>
  <th>CurrencyRate</th>
  <th>Amount</th>
  <th>Reference</th>
  <% @invoices.each do |invoice|%>
  <tr>
    <td><%= invoice.invoice_id%> </td>
    <td><%= invoice.invoice_number%></td>
    <td></td>
    <td></td>
    <td><td><%= invoice.date%></td> </td>
    <td><%= invoice.currency_code%></td>
    <td><%= invoice.amount_paid%></td>
    <td><%= invoice.reference%></td>
  </tr>
  <%end%>

</table>
