<h2 align="center">Customers</h2>
<table class="table table-bordered">
  <th>Customer</th>
  <th>FistName</th>
  <th>LastName</th>
  <th>Phone</th>
  <th>Contact status </th>
  <th>Update_at</th>

  <% @contacts.each do |contact|%>
  <%if contact.is_customer%>
  <tr>
    <td><%= contact.name%></td>
    <td><%= contact.first_name%></td>
    <td><%= contact.last_name%></td>
    <td><%= contact.phones.each do |phone|%>
      <%if phone.type == "mobile"%>
    <table>
      <tr>
        <td>
          <%= phone.country_code%>
          <%= phone.area_code%>
          <%= phone.number%></td>

        <%end%>
      </tr>
    </table>
  <%end%>
    </td>
    <td><%= contact.contact_status%></td>
    <td><%= contact.updated_date_utc%></td>
  </tr>
  <%end%>
  <%end%>
</table>