<p>Welcome <%= @resource.email %>!</p>
Congratulations on signing up to Follow me up!<br>
You Rock!<br>
Click on this link to confirm your account and get started.<br>
<br>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>



<!-- 
<% if @resource.unconfirmed_email %>
  <p>Welcome <%= @resource.unconfirmed_email %>!</p>
  <p>Please confirm your new email address by clicking on the link below:</p>
<% else %>
  <p>Welcome <%= @resource.email %>!</p>
  <p>Please confirm your account by clicking on the link below:</p>
<% end %>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p> -->